  body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  }

  nav {
    background-color: #084A5E !important;
  }

  nav a {
    color: white;
  }

  nav a:hover {
    color: #C67006;
  }

  nav i {
    color: white;
    margin-right: 5px;
  } 

  hr {
    margin: 0;
  }
  .card {
    min-width: 75%;
  }

  .container {
    height: 100vh;
  }

  .icn {
    margin-right: 10px;
  }

  .icn i {
    color: #C67006;
  }

  .landscape-img {
    width: 350px;
    height: 175px;
    object-fit: cover;
  }

  .sb {
    width: 85%;
    border: 4px solid #00bfb6;
    padding: 20px;
    font-weight: 900;
    color: #00bfb6;
    font-family: arial;
    position: relative;
  }
  
  /* speech bubble 5 */

  .sb5 {
    margin-right: 30px;
  }
  
  .sb6 {
    margin-left: 30px;
  }


  .sb5:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: -21px;
    top: 6px;
  }
  
  .sb5:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid #fff;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-bottom: 7px solid transparent;
    right: -11px;
    top: 10px;
  }
  
  
  /* speech bubble 6 */
  
  .sb6:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    left: -21px;
    top: 6px;
  }
  
  .sb6:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid #fff;
    border-top: 7px solid #fff;
    border-bottom: 7px solid transparent;
    left: -11px;
    top: 10px;
  }


 