{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
<a href="{% url 'index' %}">Home</a>

<h1>{{ attraction.title }}</h1>
<div>
    <div>
        <button><a href="{% url 'attraction_delete' pk=attraction.pk %}">DELETE ATTRACTION</a></button>
        <button><a href="{% url 'edit_attraction' pk=attraction.pk %}">EDIT ATTRACTION</a></button>

        <form action="{% url 'edit_attraction' pk=attraction.pk %}" method="POST">  
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Add to Favorites </button>
            </form>




       
        <p> Country: {{ attraction.country }} </p>
        <p> Star Rating: {{ attraction.star_rating }} </p>
        <p> Image: <img src="{{ attraction.image }}"> </p>
        <form action="{% url 'attraction_details' pk=attraction.pk %}" method="POST">  
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Add to Favorites </button>

        <button><a href="{% url 'edit_attraction' attraction.pk %}"> Edit attraction </button></a>

        </form>
        
        <h4> About this attraction: </h4>
        <p> {{ attraction.description }} </p>
        <a href="{% url 'add_comment' attraction.pk %}"><button>Add a Comment</button></a> 

        
          
        <h1>Comments</h1>
        {% for comment in comments %}

            
            <div>
                <i> "{{ comment.commenttext }}" </i>
                <p> Commented By: {{comment.comment_owner.username}} </p>
                <p> Comment Date: {{comment.created_at}} </p>

            </div>

    {% endfor %}
    </div>
</div>
</body>
{% endblock %}