{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="is-flex is-flex-direction-column is-align-items-center">
    <h1 class="is-size-3">{{ attraction.title }}</h1>

    <!-- attraction image -->
    <img class="landscape-img mt-6 mb-6"
        src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80">

    {{ attraction_owner }}
    {{ edit_enabled }}
    <!-- attraction content -->
    <div class="box mb-6">
        <div class="is-flex is-justify-content-space-between mb-4">
            <div>
                <span class="is-flex">
                    <i class="fa-solid fa-globe"></i>
                    <p>
                        <strong>Country</strong>
                        {{ attraction.country }}
                    </p>
                </span>
                <span class="is-flex">
                    <i class="fa-solid fa-earth-asia"></i>
                    <p><strong>Continent</strong> {{ attraction.continent }}</p>
                </span>

                <span class="is-flex">
                    <strong>Rating</strong>
                    {% for x in attraction.star_rating %}
                    ★
                    {% endfor %}
                </span>
            </div>

            <!-- edit/delete icons -->

            <div>
                {% if attraction.user == request.user and user.is_authenticated %}
                <a href="{% url 'attractionedit' pk=attraction.pk %}"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                <a href="{% url 'attractiondelete' pk=attraction.pk %}"><i class="fa-solid fa-trash"></i>Delete</a>
                {% else %}
                <p class="has-text-grey-light"><i class="fa-solid fa-pen-to-square"></i>Edit</p>
                <p class="has-text-grey-light"><i class="fa-solid fa-trash"></i>Delete</p>
                {% endif %}
            </div>
        </div>

        <strong>
            <p>Details</p>
        </strong>
        <p> {{ attraction.description }}</p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed ante vitae felis viverra cursus.
            Suspendisse
            suscipit maximus consequat. Pellentesque eu lobortis ex, sit amet ornare velit. Duis interdum velit sed quam
            consectetur condimentum. Integer lacinia mattis libero. Maecenas at eleifend est. Maecenas vel ullamcorper
            lorem.</p>

        {% if user.is_authenticated %}
        <div class="is-flex is-justify-content-space-between">
            <a href="{% url 'add_comment' attraction.pk %}">
                <i class="fa-solid fa-message"></i>
                Comment
            </a>
            <form action="{% url 'attraction_details' pk=attraction.pk %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <a type="submit"><i class="fa-regular fa-heart"></i>Favorite</a>
            </form>
        </div>
        {% else %}
        <div class="is-flex is-justify-content-space-between">
            <p class="has-text-grey-light"><i class="fa-solid fa-message has-text-grey-light"></i>Comment
            <p>
            <p class="has-text-grey-light"><i class="fa-regular fa-heart"></i>Favorite</p>
        </div>
        {% endif %}

        <!-- comments section -->
        <hr>
        <strong>Comments</strong>

        {% if comments|length == 0 %}
        <div class="container is-flex is-justify-content-center has-text-grey-light">Oops! There are no comments yet!
        </div>
        {% else %}
        {% for comment in comments %}
        {% if not forloop.counter|divisibleby:2%}
        <div class="mt-6 mb-6 is-flex is-justify-content-space-between is-align-items-center">
            <div class="sb sb5">
                <i> "{{ comment.commenttext }}" </i>
            </div>
            <div>
                <p> <strong>Author</strong> {{comment.comment_owner.username}} </p>
                <p> <strong>Published on</strong> {{comment.created_at}} </p>
            </div>
        </div>
        {%endif%}
        <div class="is-flex is-justify-content-space-between is-align-items-center">
            <div>
                <p> <strong>Commentor</strong> {{comment.comment_owner.username}} </p>
                <p> <strong>Published on</strong> {{comment.created_at}} </p>
            </div>
            <div class="sb sb6">
                <i> "{{ comment.commenttext }}" </i>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}