{% extends 'base.html' %}
{% block content %}
<button href="{% url 'add_attraction' %}">
    Add a new attraction
</button>
{% for attraction in attractions %}
<div class="box is-flex is-flex-direction-row">
    <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
    <div>
        <h5 class="is-size-5 has-text-weight-semibold	">{{ attraction.title }}</h5>
        <span class="is-flex">
            <i class="fa-solid fa-user"></i>
            <p><strong>Author</strong> {{attraction.user.username}}</p>
        </span>
        <span class="is-flex">
            <i class="fa-solid fa-globe"></i>
            <p>Country: {{ attraction.country }}</p>
        </span>

        <span class="is-flex">
            <i class="fa-regular fa-globe"></i>
            <p>Continent: {{ attraction.continent }}</p>
        </span>
        <span class="is-flex">
            <i class="fa-solid fa-circle-info"></i>
            <p>About this attraction: {{ attraction.description }}</p>
        </span>
        <span class="is-flex">
            <p>Rating:</p>
            {% for x in attraction.star_rating %}
            ★
            {% endfor %}
        </span>
        <span class="is-flex">
            <i class="fa-solid fa-tag"></i>
            <p>Tag: {{ attraction.tags }}</p>
        </span>
        <button>
            <a href="{% url 'attraction_details' attraction.pk %}">See More</a>
        </button>
    </div>
</div>
{% endfor %}
{% endblock %}