{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method ="post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

    <button><a href="{% url 'profileedit' pk=user.pk %}">EDIT PROFILE</a></button>
    <button><a href="{% url 'profiledelete' pk=user.pk %}">DELETE PROFILE</a></button>
    <a href="{% url 'index' %}">Home</a>
    <button>
        <a href="{% url 'add_attraction' %}">
       Add a new attraction</a>
   </button>
    
    <p> {{ profile.profile_pic }}</p>
    <h1>{{ profile.user }}</h1>
    <p> Bio: {{ profile.bio }} </p>
    <p> Home Country: {{ profile.home_country }} </p>
    <p> Gender: {{ profile.gender }} </p>
    <p> Followers: {{ profile.followers }} </p>
    <p> Website: {{profile.website_url}} </p>
    <p> Social Media : {{profile.social_url}} </p>
{% endblock %}