{% extends 'base.html' %} {% block content %} {% if search %}

<h3 class="mb-3"><strong style="color: #084a5e !important">Search Results</strong></h3>

{% for attraction in search %}

<div
  class="box is-flex is-flex-direction-column card is-justify-content-space-evenly"
>
  {% if attraction.attraction_pic %}

  <div style="margin: 0 auto">
    <figure class="image is-128x128">
      <img src="{{ attraction.attraction_pic.url }}" />
    </figure>

    <h5
      class="is-size-5 has-text-weight-bold mb-2 mt-2"
      style="color: #084a5e; margin: 0 auto"
    >
      {{ attraction.title }}
    </h5>
  </div>
  {% else %}

  <div style="margin: 0 auto">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png" />
    </figure>

    <h5
      class="is-size-5 has-text-weight-bold mb-2 mt-2"
      style="color: #084a5e !important; margin: 0 auto"
    >
      {{ attraction.title }}
    </h5>
  </div>
  {% endif %}

  <div>
    <span class="is-flex icn">
      <i class="fa-solid fa-user mr-2"></i>
      <p>
        <strong>Author</strong>
        <a
          style="color: #084a5e !important"
          href="{% url 'profile_detail' pk=attraction.user.pk %}"
          >{{attraction.user.username}}</a
        >
      </p>
    </span>
    <span class="is-flex is-align-items-center icn">
      <i class="fa-solid fa-globe mr-2"></i>
      <p><strong>Country</strong> {{ attraction.country.name }}</p>
    </span>

    <span class="is-flex is-align-items-center icn">
      <i class="fa-solid fa-earth-asia mr-2"></i>
      <p><strong>Continent</strong> {{ attraction.continent }}</p>
    </span>
    <span class="is-flex is-align-items-center icn">
      <i class="fa-solid fa-tag mr-2"></i>
      <p><strong>Tags</strong> {{ attraction.tags }}</p>
    </span>

    <span class="is-flex mt-2">
      <p>
        <strong>Rating</strong>{% for x in attraction.star_rating %}
        <span style="color: #c67006">★</span> {% endfor %} / 5 Stars
      </p>
    </span>
  </div>
  <button
    class="button mt-3"
    style="background-color: #084a5e !important"
  >
    <a
      style="color: white"
      href="{% url 'attraction_details' attraction.pk %}"
      >See More</a
    >
  </button>
</div>
{% endfor %} {% else %}

<h1 class="has-text-grey-light">...No Results Returned</h1>

{% endif %} {% endblock %}
