{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE TRAVELIST</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar is-flex is-justify-content-space-between is-align-items-center p-5">
            <a href="/">
                <div class="is-flex is-fullwidth is-align-items-center">
                    <img width="35px" src="/static/images/logo.png">
                    <p class="has-text-weight-bold"><span style="color: white; font-size: 13px;">THE
                            TRAVE</span><span style="color: #C67006; font-size: 13px;">LIST</span></p>
                </div>
            </a>
            </div>

            <div class="is-flex" id="feed">
                <span class="is-flex is-align-items-center icn">
                    <a href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a>
                </span>
                {% if user.is_authenticated %}
                <span class="is-flex is-align-items-center icn">
                    <a href="{% url 'add_attraction' %}"><i class="fa-solid fa-plus"></i></a>
                </span>
                
                <span class="is-flex is-align-items-center icn">
                    <a href="{% url 'profile_detail' pk=user.pk %}"><i class="fa-solid fa-user"></i></a>
                </span>
                <span class="is-flex is-align-items-center icn">
                    <a href={% url 'auth_logout' %}> <i
                            class="fa-solid fa-right-from-bracket"></i></a>
                    <span class="is-flex is-align-items-center">
                        {% else %}
                        <span class="is-flex is-align-items-center icn">
                            <a href={% url 'registration_register' %}><i
                                    class="fa-solid fa-user-plus"></i></a>
                        </span>
                        <span class="is-flex is-align-items-center icn">
                            <a href={% url 'auth_login' %}><i class="fa-solid fa-right-to-bracket"></i></a>
                        </span>
            </div>
            {% endif %}
        </nav>
    </header>
    <div
        class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center is-justify-content-center">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>