{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar is-flex is-justify-content-space-between">
            <p class="is-size-6">The Travelist</p>
            <div class="is-flex">
            <span class="is-flex">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
            </span>
            {% if user.is_authenticated %}
            <span class="is-flex">
                <i class="fa-solid fa-right-from-bracket"></i>
            <a href={% url 'auth_logout' %}>logout</a>
            <span class="is-flex">
            {% else %}
            <span class="is-flex">
                <i class="fa-solid fa-user-plus"></i>
                <a href={% url 'registration_register' %}>register</a>
            </span>
            <span class="is-flex">
                <i class="fa-solid fa-right-to-bracket"></i>
                <a href={% url 'auth_login' %}>login</a>
            </span>
        </div>
            {% endif %}
        </nav>
    </header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>